/* styles.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFF9C4;
    color: #333333;
  }
  
header {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
  }
  
  .nav-link {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    color: #333333;
  }
  
  .nav-link:hover {
    color: #333333;
  }
  
  .nav-link::before,
  .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #333333;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  
  .nav-link::before {
    top: -6px;
  }
  
  .nav-link::after {
    bottom: -6px;
  }
  
  .nav-link:hover::before,
  .nav-link:hover::after {
    width: 50%;
    opacity: 1;
  }
  
  
  main {
    padding: 20px;
    flex: 1;
  }
  
  section {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    align-items: center; /* Vertically center the image */
  }
  
  .image-container img {
    max-width:80%;
    max-height: 80%;
    width: auto;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 50%;
  }
  
  .text-container {
    flex: 1;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  .writing {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; /* Center the content horizontally */
  }
  
  .writing h3 {
    font-size: 24px; /* Increase the font size of the titles */
    margin-bottom: 10px; /* Add some space below the titles */
  }
  
  .writing .article {
    position: relative; /* Enable relative positioning for the article container */
    display: flex; /* Use flexbox for centering the image and navigation */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    margin-bottom: 10px; /* Add some space below the image and navigation */
  }
  
  .writing img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px; /* Increase the arrow width */
    height: 100px; /* Increase the arrow height */
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }
  
  .arrow-left {
    left: 200px; /* Adjust the left position to move the arrow closer to the image */
  }
  
  .arrow-right {
    right: 200px; /* Adjust the right position to move the arrow closer to the image */
  }
  
  .arrow:hover {
    opacity: 1;
  }
  
  
  
  
  
  
  footer {
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
input[type="email"] {
  width: 300px;
}

textarea {
  width: 100%;
  height: 150px; /* Adjust the height as needed */
}
  